.navbar {
    width: 100%;
    max-width: 1100px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;

    .wrapper {
        width: 100%;
        max-width: 100%;
        height: 100%;
        padding: 0 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 2rem;

        /* From https://css.glass */
        background: rgba($color: $base-blue, $alpha: 0.5);
        border-radius: 16px;
        backdrop-filter: blur(8.6px);
        -webkit-backdrop-filter: blur(8.6px);
        border: 1px solid rgba($color: $base-blue, $alpha: 0.7);

        .active {
            border-bottom: 2px solid $base-violet;
        }

        @media screen and (max-width: 768px) {
            padding: 0 1rem;
            margin: 0 1rem;
        }

        &__left {
            display: flex;
            align-items: center;
            gap: 1rem;
            a {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                h1 {
                    font-size: 1.3rem;
                    font-weight: 700;
                }

                svg {
                    width: 1.3rem;
                    height: 1.3rem;
                    transition: transform 0.4s ease-in-out; /* Add this line */
                }

                &:hover {
                    svg {
                        transform: rotate(360deg);
                    }
                }

                @media screen and (max-width: 768px) {
                    h1 {
                        font-size: 1rem;
                    }

                    svg {
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }
        }

        &__right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;

            @media screen and (max-width: 768px) {
                gap: 0.5rem;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.2rem;
                transition: all 0.2s ease-in-out;

                svg {
                    width: 1rem !important;
                    height: 1rem !important;

                    @media (max-width: 480px) {
                        width: 1.5rem !important;
                        height: 1.5rem !important;
                    }
                }

                span {
                    @media (max-width: 480px) {
                        display: none;
                    }
                }

                &:hover {
                    color: $base-violet;
                }

                @media (max-width: 768px) {
                    svg {
                        width: 0.8rem;
                        height: 0.8rem;
                    }
                }
            }

            &__logout {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.2rem;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                margin-left: 1rem;

                svg {
                    width: 1rem !important;
                    height: 1rem !important;

                    @media (max-width: 480px) {
                        width: 1.5rem !important;
                        height: 1.5rem !important;
                    }
                }

                span {
                    font-weight: 600;
                    @media (max-width: 480px) {
                        display: none;
                    }
                }

                &:hover {
                    color: $base-dark-red;
                }

                @media (max-width: 768px) {
                    svg {
                        width: 0.8rem;
                        height: 0.8rem;
                    }
                }
            }
        }
    }
}
