@import "../../../assets/base.scss";

.form_input {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: fit-content;

    background: rgba($color: $base-dark, $alpha: 0.1);
    border: 1px solid $base-dark-grey;

    padding: 0.4rem 0.5rem;
    margin: 10px 0;
    border-radius: 5px;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    &:focus-within {
        outline: 1px solid $base-light-green;
    }

    textarea {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0.5rem 0.5rem;
        line-height: 1;
        font-weight: 500;
        font-size: 0.8rem;
        color: $base-dark;
        width: 100%;
        resize: none;
        height: 150px !important;

        &:disabled {
            cursor: not-allowed;
        }

        &::placeholder {
            color: $base-dark;
            text-transform: uppercase;
            font-size: 0.8rem;
            text-align: center;

            @media (max-width: 480px) {
                font-size: 0.6rem;
            }
        }
    }

    input {
        position: relative;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0.5rem 0.5rem;
        line-height: 1;
        font-weight: 500;
        font-size: 0.8rem;
        color: $base-dark;
        width: 100%;

        &:disabled {
            cursor: not-allowed;
        }

        &:focus {
            outline: none;
        }

        // autofill styles
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: $base-dark !important;
            -webkit-box-shadow: 0 0 0px 1000px rgba($color: $base-dark, $alpha: 0.1) inset !important;
            transition: background-color 5000s ease-in-out 0s !important;
        }

        &::placeholder {
            color: $base-dark;
            text-transform: uppercase;
            font-size: 0.7rem;
            text-align: center;
            @media (max-width: 480px) {
                font-size: 0.6rem;
            }
        }
    }
}

.wrapper_error {
    border: 1px solid $base-dark-red;

    &:focus-within {
        outline: 1px solid $base-dark-red;
    }

    svg {
        stroke: $base-dark-red;
        fill: $base-dark-red;
    }

    .input_error {
        &::placeholder {
            color: $base-dark-red;
            font-weight: 600;
        }
    }
}
