@import "../../assets/base.scss";

.notes {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__input {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;

        &__buttonContainer {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;

            button {
                @media (min-width: 768px) {
                    margin: 0 !important;
                }
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
        gap: 1rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
}
