.note_card {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $base-light-teal;
    border-radius: 10px;
    box-shadow: $base-shadow-1;
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s;

    &:hover {
        box-shadow: $base-shadow-2;
    }

    &__header {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        padding: 0.8rem 0;
        position: relative;

        &__title {
            position: absolute;
            top: 0;
            left: 0;

            h3 {
                font-size: 0.7rem;
                text-transform: uppercase;
                color: $base-dark;
            }
        }

        &__ctas {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;
            button {
                @media (max-width: 480px) {
                    svg {
                        width: 0.7rem !important;
                        height: 0.7rem !important;
                    }
                    span {
                        display: none;
                    }
                }
            }

            @media (max-width: 768px) {
                &__ctas {
                    margin-top: 1rem;
                }
            }
        }
    }
    .note_card__content {
        overflow-x: hidden;
        word-wrap: break-word;
        padding: 0.8rem;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        border: solid 1px $base-grey;
        border-radius: 6px;

        p {
            font-weight: 500;
            font-size: 0.8rem;
            letter-spacing: 0px;

            @media (max-width: 768px) {
                font-size: 0.7rem;
            }
        }

        @media (max-width: 768px) {
            text-align: center;
        }
    }

    &__length {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.5rem 1rem;
        border-radius: 0 0 0 10px;
        font-size: 0.7rem;
        text-transform: uppercase;

        small {
            font-size: 0.6rem;
            font-weight: 600;
            color: $base-dark-grey;
        }
    }
}
