.auth {
    width: 100%;
    max-width: 500px;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;

    .active {
        border-bottom: 2px solid $base-violet;
    }

    &__header {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid $base-dark-grey;

        &__tab {
            span {
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: 600;
                cursor: pointer;

                transition: color 0.3s;
                color: $base-dark;

                &:hover {
                    color: $base-violet;
                }
            }
        }
    }

    &__tab {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        background: rgba(135, 241, 235, 0.2);
        border: 1px solid $base-dark-grey;
        border-radius: 1rem;
        box-shadow: $base-shadow-2;
        padding: 2rem;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        &__content {
            width: 100%;

            h1 {
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }

            form {
                button {
                    margin: 0 auto;
                }
            }
        }
    }
}
