// Mixins
@mixin button-styles {
    width: 100%;
    max-width: fit-content;
    height: 2.2rem;
    border-radius: 16px;
    border: none;
    box-sizing: border-box;
    color: $base-white;
    text-transform: uppercase;
    flex-shrink: 0;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;
    transition: all 0.2s linear;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 0 2rem;
    cursor: pointer;
    outline: none;
    transform-style: "preserve-3d";
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    @media (max-width: 800px) {
        font-size: 0.7rem;
        margin: 0 auto;
    }

    &:disabled {
        opacity: 0.2;
        touch-action: none;
        box-shadow: none;
        pointer-events: none;
    }

    @media (max-width: 768px) {
        font-size: 0.8rem;
        margin: 0 auto;
    }

    svg {
        width: 1.2rem;
        height: 1.2rem;
        min-width: 1rem;
        min-height: 1rem;
    }

    /* Remove the gradient background from here */

    &:hover {
        transform: rotate3d(20deg);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    &:active {
        transform: scale(0.98);
    }
}

@mixin button-presets(
    $bgColor,
    $hoverColor,
    $textColor,
    $textHoverColor,
    $activeScale,
    $borderColor
) {
    background-color: $bgColor;
    color: $textColor;
    border: 1px solid $borderColor;

    &:hover {
        background-color: $hoverColor;
        box-shadow: $base-shadow-2;
        color: $textHoverColor;
    }

    &:active {
        transform: scale($activeScale);
    }
}

// Buttons
.btnPrimary {
    @include button-styles;
    @include button-presets(transparent, $base-blue, $base-blue, $base-white, 0.98, $base-blue);
    &[type="submit"],
    &[type="reset"] {
        @include button-styles;
        @include button-presets(transparent, $base-blue, $base-blue, $base-white, 0.98, $base-blue);
    }
}

.btnSuccess {
    @include button-styles;
    @include button-presets(transparent, $base-green, $base-green, $base-white, 0.98, $base-green);
    &[type="submit"],
    &[type="reset"] {
        @include button-styles;
        @include button-presets(
            transparent,
            $base-green,
            $base-green,
            $base-white,
            0.98,
            $base-green
        );
    }
}

.btnDanger {
    @include button-styles;
    @include button-presets(transparent, $base-red, $base-red, $base-white, 0.98, $base-red);
    &[type="submit"],
    &[type="reset"] {
        @include button-styles;
        @include button-presets(transparent, $base-grey, $base-red, $base-white, 0.98, $base-red);
    }
}
