@import "../../../assets/base.scss";

// Mixins
@mixin button-styles {
    width: 100%;
    max-width: fit-content;
    height: 2.2rem;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.2s linear;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 0 2rem;
    cursor: pointer;
    outline: none;
    transform-style: "preserve-3d";
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    @media (max-width: 800px) {
        font-size: 0.7rem;
        margin: 0 auto;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        touch-action: none;
        box-shadow: none;

        &:hover {
            transform: none;
            pointer-events: none !important;
        }
    }

    @media (max-width: 768px) {
        font-size: 0.8rem;
        margin: 0 auto;
    }

    svg {
        width: 1.2rem;
        height: 1.2rem;
        min-width: 1.2rem;
        min-height: 1.2rem;
    }

    /* Remove the gradient background from here */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    &:active {
        transform: scale(0.98);
    }
}

@mixin button-background($bgColor, $hoverColor, $textColor, $textHoverColor, $activeScale) {
    background-color: $bgColor;
    color: $textColor;

    &:hover {
        background-color: $hoverColor;
        box-shadow: $base-shadow-3;
        color: $textHoverColor;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
            touch-action: none;
            box-shadow: none;

            &:hover {
                transform: none;
                pointer-events: none !important;
            }
        }
    }

    &:active {
        transform: scale($activeScale);

        &:disabled {
            transform: none;
        }
    }
}

// Buttons
.btnPrimary {
    @include button-styles;
    @include button-background($base-blue, $base-grey, $base-white, $base-dark-secondary, 0.98);
    &[type="submit"],
    &[type="reset"] {
        @include button-styles;
        @include button-background($base-blue, $base-grey, $base-white, $base-dark-secondary, 0.98);
    }
}

.btnSecondary {
    @include button-styles;
    @include button-background(#373738, $base-grey, $base-white, $base-dark-secondary, 0.98);
    &[type="submit"],
    &[type="reset"] {
        @include button-styles;
        @include button-background(#373738, $base-grey, $base-white, $base-dark-secondary, 0.98);
    }
}

.btnTertiary {
    @include button-styles;
    @include button-background(#1cbd3f, $base-grey, $base-white, $base-dark-secondary, 0.98);
    &[type="submit"],
    &[type="reset"] {
        @include button-styles;
        @include button-background(#1cbd3f, $base-grey, $base-white, $base-dark-secondary, 0.98);
    }
}

.btnDanger {
    @include button-styles;
    @include button-background(#bd1c1c, $base-grey, $base-white, $base-dark-secondary, 0.98);
    &[type="submit"],
    &[type="reset"] {
        @include button-styles;
        @include button-background(#bd1c1c, $base-grey, $base-white, $base-dark-secondary, 0.98);
    }
}

.btnGoogle {
    @include button-styles;
    @include button-background(#0702ff, $base-grey, $base-white, $base-dark-secondary, 0.98);
    &[type="submit"],
    &[type="reset"] {
        @include button-styles;
        @include button-background(#0702ff, $base-grey, $base-white, $base-dark-secondary, 0.98);
    }
}
